extends layout

block content
    .page-header
        h1.text-center
            img(src="../images/logo.jpg" height="56px")
        form.form-horizontal(action="search" method="post" role="form")
            .input-group.col-md-8.col-md-offset-2
                input.form-control(type="text" autofocus="autofocus" name="filmName")
                .input-group-btn
                    button.btn.btn-primary(type="submit") 搜索
    <br/>
    .row
        #accordion.panel-group
            each val in films
                .panel.panel-info
                    .panel-heading
                        h4.panel-title
                            a(data-toggle="collapse" data-parent="#accordion" href="\##{val.id}" style="text-decoration:none")
                                | #{val.realName}
                    div.panel-collapse.collapse(id="#{val.id}")
                        .panel-body
                            | #{val.gut}
                            <br/>
                            <br/>
                            table.table.table-striped.table-hover(style="width:100%; word-wrap: break-word;word-break: break-all;")
                                thead
                                    tr
                                        th(style="width:65%") 标题
                                        th 大小
                                        th 清晰度
                                        th 下载
                                tbody
                                    each film, index in val.infos
                                        tr
                                            th #{film.urlName}
                                            th #{film.size}
                                            th #{film.pixel}
                                            th
                                                if film.isOwner == true
                                                    a(href="#{film.zz}") 种子下载&nbsp;&nbsp;&nbsp;
                                                    a(href="#{film.cili}") 磁力下载
                                                else
                                                    a.unreal
                                                        span(data-toggle='modal' data-target='#fromNetFriend').glyphicon 网友提供
                                                        p.hide #{film.other}
        #fromNetFriend.modal.fade(tabindex='-1' role='dialog' aria-labelledby='title')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal' aria-label='close')
                            span(aria-hidden='true') x
                        h4#title.modal-title 网友共享
                    .modal-body
                        .form-group
                            label.control-label 影片链接:
                            input#otherUrl.form-control(type='text')
                    .modal-footer
                        button.btn.btn-default(data-dismiss='modal') 关闭
    #footer
        p.text-center 123456@copyright

    
    script(src='/javascripts/footer.js')
    script(type='text/javascript', src='/js/userclick.js')


